<ng-include src="'includes/content-header.html'"></ng-include>
<section class="content">
      <div class="row">
        <div class="col-xs-12">
          <form class="form-horizontal">
  
                <div class="form-group">
                  <label class="col-sm-2 col-sm-offset-2 control-label">Part ID</label>
                  <div class="col-sm-6">
                      <input class="form-control" type="text">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 col-sm-offset-2 control-label">Part Direction</label>
                  <div class="col-sm-6">
                    <input class="form-control" type="text">
                  </div>
              
                </div>
                <div class="form-group">
                  <label class="col-sm-2 col-sm-offset-2 control-label">Part Default Score</label>
                  <div class="col-sm-6">
                    <input class="form-control" type="text">
                  </div>
                </div>
              
                <div class="form-group">
                  <label class="col-sm-2 col-sm-offset-2 control-label">Part Default Column</label>
                  <div class="col-sm-6">
                    <input class="form-control" type="text">
                  </div>
                </div>
               
                <div class="form-group">
                  <label class="col-sm-2 col-sm-offset-2 control-label">Part Default Level</label>
                  <div class="col-sm-6">
                    <input class="form-control" type="text">
                  </div>
              
                </div>
                <div class="form-group">
                  <label class="col-sm-2 col-sm-offset-2 control-label">Part Order</label>
                  <div class="col-sm-6">
                    <input class="form-control" type="text">
                  </div>
                </div>
               
                <div class="form-group">
                  <label class="col-sm-2 col-sm-offset-2 control-label">Part Note</label>
                  <div class="col-sm-6">
                    <input class="form-control" type="text">
                  </div>
                </div>

                <div class="form-group" style="margin-right: 5px;">
                  <input type="button" class="btn btn-default col-sm-offset-8 col-sm-1" name="" value="Add">
                  <input type="button" class="btn btn-default col-sm-1" name="" value="Cancel">
                </div>
            </form>
        </div>
	   </div>

</section>
