<!--Hong-->
<section class="content-header">
  <h1>Update part <i ng-if="part.parName">"{{part.parName}}"</i></h1>
  <ol class="breadcrumb">
      <li><a href="#!/subjects"><i class="fa fa-dashboard"></i>Subject</a></li>
      <li class="active">Part</li>
  </ol>
</section>
<section class="content">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <form class="form-horizontal">
              <div class="form-group">
                <label class="col-sm-2 control-label">ID:</label>
                <div class="col-sm-5">
                  <input type="text" class="form-control" placeholder="Insert part ID" ng-model="part.parId">
                </div>
                <div class="col-sm-5 text-danger" ng-if="part.partId.length < 6">Part id at leat 6 number</div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Name:</label>
                <div class="col-sm-5">
                  <input type="text" class="form-control" placeholder="Insert part name" ng-model="part.parName">
                </div>
                <div class="col-sm-5"></div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Direction:</label>
                <div class="col-sm-5">
                  <textarea type="text" class="form-control" placeholder="Insert some direction for this part" rows="5" ng-model="part.parDirection"></textarea>
                </div>
                <div class="col-sm-5"></div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Default score:</label>
                <div class="col-sm-5">
                  <input type="number" class="form-control" placeholder="Default score" ng-model="part.parDefault_score">
                </div>
                <div class="col-sm-5"></div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Default column:</label>
                <div class="col-sm-1">
                  <select class="form-control" ng-value="part.parDefault_column" ng-model="part.parDefault_column">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                  </select>
                </div>
                <div class="col-sm-7 col-sm-offset-1">
                  <label class="col-sm-2 control-label">Default Level:</label>
                  <div class="col-sm-5">
                    <input type="number" class="form-control" placeholder="Default Level" style="width: 140px" min="0" max="100" ng-model="part.parDefault_level">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Note:</label>
                <div class="col-sm-5">
                  <textarea type="text" class="form-control" placeholder="Some note" rows="5" ng-model="part.parNote"></textarea>
                </div>
                <div class="col-sm-5"></div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Order:</label>
                  <div class="col-sm-5">
                    <input type="number" class="form-control" placeholder="Order" style="width: 140px" min="0" max="100" ng-model="part.parOrder">
                  </div>
                <div class="col-sm-5"></div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Images:</label>
                  <div class="col-sm-5">
                    <a class="btn btn-primary" ng-href="#!/subject/{{part.subject.id}}/part/{{part.id}}/images">
                      <i class="fa fa-upload" aria-hidden="true"></i> Upload
                    </a>
                  </div>
                <div class="col-sm-5"></div>
              </div>

            </form>
          </div>
            <div class="col-sm-8">
            <center>
              <input type="button" class="btn btn-info" name="save" value="Save" ng-click="savePart(part)">
              <input type="button" class="btn btn-danger" name="cancel" value="Cancel" ng-click="cancel()">
            </center>
            </div>
            <div class="col-sm-4"></div>
        </div>
       </div>
      </div>

</section>
