<section class="content-header">
  <h1>Parts<small><a class="btn btn-default" href="#!/addParts">Add part</a></small></h1>
  <ol class="breadcrumb">
    <li><a><i class="fa fa-suitcase"></i>Parts</a></li>
  </ol>
</section>
<section class="content">
  <div class="row">
    <div class="col-xs-12">
        <table id="part-table" datatable="ng" dt-options="dtOptions" class="table table-bordered text-center table-hover" >
          <thead>
            <tr>
              <th>#</th>
              <th>PAR_ID</th>
              <th>PARTNAME</th>
              <th>PARDIRECTION</th>
              <th>PARDEFAULT_SCORE</th>
              <th>PARDEFAULT_COLUMN</th>
              <th>PARDEFAULT_LEVEL</th>
              <th>PARORDER</th>
              <th>PARNOTE</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="x in list">
              <td ng-bind="x.PAR_ID"></td>
              <td ng-bind="x.PARID"></td>
              <td ng-bind="x.PARTNAME"></td>
              <td ng-bind="x.PARDIRECTION"></td>
              <td ng-bind="x.PARDEFAULT_SCORE"></td>
              <td ng-bind="x.PARDEFAULT_COLUMN"></td>
              <td ng-bind="x.PARDEFAULT_LEVEL"></td>
              <td ng-bind="x.PARORDER"></td>
              <td ng-bind="x.PARNOTE"></td>
              <td>
                <a class="btn" href="#!/part/edit">
                  <i class="fa fa-wrench"></i>
                </a>
                <a class="btn" ng-click='Delete(x.PARID)'>
                  <i class="fa fa-trash"></i> 
                </a>
              </td>
          </tbody>
          <tfoot>
            <tr>
              <td>#</td>
              <td>PARID</td>
              <td>PARTNAME</td>
              <td>PARDIRECTION</td>
              <td>PARDEFAULT_SCORE</td>
              <td>PARDEFAULT_COLUMN</td>
              <td>PARDEFAULT_LEVEL</td>
              <td>PARORDER</td>
              <td>PARNOTE</td>
              <td></td>
            </tr>
          </tfoot>
        </table>
    </div>
  </div>

</section>

