<div class="container-fluid">
	<section class="content-header">
      <h1>
        Test Detail
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li>Tests</li>
        <li class="active">Test Detail</li>
      </ol>
    </section>
    <!--main content-->
	<section class="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="box">
					<h3 class="box-title" style="font-size: 20px; padding-left: 10px;">TEST0001</h3>
					<!--box header-->
					<div class="box-body">
						<div class="form-group">
							<div class="row">
								<div class="col-md-3">
									<label>Subject:</label>
								</div>
								<div class="col-md-9">
								English
			                	</div>
								<!-- Select multiple-->
			                	<div class="col-md-3">
			                		<label>Part:</label>
			                	</div>
			                	<div class="col-md-9" style="width: 50%">
			                		<select multiple class="form-control">
				                    <option>Listening</option>
				                    <option>Writing</option>
				                    <option>Reading</option>
				                    <option>Speaking</option>
			                  		</select>
			                	</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>		
	</section>
</div>