<div class="container-fluid">
	<section class="content-header">
      <h1>
        Tests
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Tests</li>
      </ol>
    </section>
    <!--main content-->
	<section class="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="box">
					<h3 class="box-title" style="font-size: 20px; padding-left: 10px;">List Of Tests</h3>
					<!--box header-->
					<div class="box-body table-responsive">
						<table id="questions-table" datatable="ng" dt-options="dtOptions" class="table table-bordered table-striped table-hover">
							<thead>
							<tr>
								<th>#</th>
								<th>Test Number</th>
								<th>Title</th>
								<th>Version</th>
								<th>Date</th>
								<th>Test Time</th>
								<th>Test Language</th>
								<th>Max Score</th>
								<th>Note</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat = "test in dataTest">
								<td ng-bind="index + 1"></td>
								<td ng-bind="test.TES_CODE"></td>
								<td ng-bind="test.TES_CODE"></td>
								<td ng-bind="test.TESTITLE"></td>
								<td ng-bind="test.TESVERSION"></td>
								<td ng-bind="test.TESDATE"></td>
								<td ng-bind="test.TESTIME"></td>
								<td ng-bind="test.TESMAX_SCORE"></td>
								<td ng-bind="test.TESNOTE"></td>
								<th>
									<button class="btn btn-danger"><i class="fa fa-times"></i></button>
                  					<button class="btn btn-primary"><i class="fa fa-pencil"></i></button>
								</th>
							</tr>
						</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>		
	</section>
</div>