<div class="box box-info">
	<div class="box-header">
		<h2>True false</h2>
		<!-- tools box -->
		<div class="pull-right box-tools">
			<button type="button" class="btn btn-info btn-sm" data-widget="collapse" data-toggle="tooltip" title="Collapse">
			<i class="fa fa-minus"></i></button>
		</div>
		<!-- /. tools -->
	</div>
	<!-- /.box-header -->
	<div class="box-body pad">
		<form>
			<textarea name="mtpcpEditor-trueFalse" id="mtpcpEditor-trueFalse" rows="10" cols="80" ng-model="question.content">
                This is my textarea to be replaced with CKEditor.
            </textarea>						            
		</form>
     <div class="col-md-12">
      	<div class="col-md-3">
      	  		<div class="col-md-6">
      	  			<button class="btn btn-default margin">
	 		  			<i class="fa fa-fw fa-cloud-upload"></i> Images
	 		  		</button>
      	  		</div>
      	  		<div class="col-md-6">
      	  			<button class="btn btn-default margin">
	 		  			<i class="glyphicon glyphicon-eye-open"></i> Images
	 		  		</button>
      	  		</div>
	 	</div>
	 	<div class="col-md-3">
	 		<div id="choice" style="padding-top: 15px">
  	 				<div class="input-group">
  	 					<span style="padding-right: 5px">Correct Answer </span>
  	 					<span style="padding-right: 5px">
  	 						<input type="radio" name="checkAnswer" ng-model="question.checkAnswer"> True
  	 					</span>
  	 					<span style="padding-right: 5px">
  	 						<input type="radio" name="checkAnswer" ng-model="question.checkAnswer"> False
  	 					</span>						                       
      	 			</div>
      	 	</div>
	 	</div>	 
    </div>

    <div class="rows">
	 	<div class="col-md-12">
		<div id="select" class="col-md-4">
	  		<div class="col-md-6" style="padding-top: 10px; padding-right: 0px">
	  			<label>Column of choice: </label>
	  		</div>
 	  	<div class="col-md-6">
 	  		<select class="form-control" ng-model="question.column">
                <option value="1">1</option>
                <option value="2">2</option>
        	</select>
 	  	</div>
	  	</div>
			<div class="col-md-6" style="padding-top: 15px;">
	 		<div class="col-md-5" style="padding-right: 0px;">
	 				<label>Score: </label>
	 				<input type="number" name="score" value="2" placeholder="Score" width="100px"  ng-model="question.score">
	 		</div>
	 		<div class="col-md-3">
	 			<div class="form-group">
	                <label>
	                  <input type="checkbox" class="flat-red" ng-model="question.isbank" ng-checked ="question.isbank">
	                   Is Bank
	                </label>
	              </div>
	 		</div>
	 		<div class="col-md-4">
	 			<label>
                  <input type="checkbox" class="flat-red" ng-model="question.shuffle">
                  Shuffle Choices
                </label>
	 		</div>
	 	</div>
		</div>

    </div>
  	<div class="col-md-12">
  	 		<div class="pull-right">
  	 			<button class="btn btn-primary btn-flat margin" ng-click="addquestion()" >Save</button>
            	<button class="btn btn-warning btn-flat margin">Reset</button>
            	<button class="btn btn-default btn-flat margin">Back</button>
  	 		</div>
	</div>

</div>

<script>
	$(function () {
	    //Flat red color scheme for iCheck
	    $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
	      checkboxClass: 'icheckbox_flat-green',
	      radioClass: 'iradio_flat-green'
	    });

	});

	CKEDITOR.replace( 'mtpcpEditor-trueFalse' );
</script>