<ng-include src="'includes/content-header.html'"></ng-include>
<section class="content">
  <form class="form-horizontal">
  
      <div class="form-group">
        <label class="col-sm-2 col-sm-offset-2 control-label">Subject name</label>
        <div class="col-sm-6">
            <input class="form-control" type="text">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 col-sm-offset-2 control-label">Subject belongs to</label>
        <div class="col-sm-6">
          <input class="form-control" type="text">
        </div>
      </div>

      <div class="form-group"> 
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Submit</button>
        </div>
      </div>
  </form>
</section>