<div class="modal-header">
    <button type="button" ng-click="$dismiss()" class="close">&times;</button>
    <h2 class="modal-title">Add New Subject</h2>
</div>
<div class="modal-body">
  <form class="form-horizontal">
      <table id="add-subject">
        <tr>
          <td>
            <label class="control-label">Subject name</label>
          </td>
          <td>
            <input class="form-control" type="text">
          </td>
        </tr>
        <tr>
          <td>
            <label class="control-label">Subject belongs to</label>
          </td>
          <td>
            <input class="form-control" type="text">
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <button type="submit" class="btn btn-default pull-right">Submit</button>
          </td>
        </tr>
      </table>
  </form>
</div>
<div class="modal-footer">
    
</div>