<ng-include src="'includes/content-header.html'"></ng-include>
<section class="content">
  <div class="row">
    <div ng-class="subjectPartBox.cssClass">
      <figure class="box box-success">
        <article class="col-md-5 col-sm-8 pull-right">
          <p>Search: <input ng-model="query" ng-change="findNodes()" class="ng-pristine ng-valid ng-touched"></p>
        </article>
        <article class="col-xs-12">
            <div ui-tree id="tree-root" class="angular-ui-tree" data-drag-enabled="false">
              <ol ui-tree-nodes ng-model="subjects" class="ng-pristine ng-untouched ng-valid angular-ui-tree-nodes clickable">
                <li ng-repeat="subject in subjects" ui-tree-node class="angular-ui-tree-node" collapsed="true" expand-on-hover="false">
                  <div ui-tree-handle class="tree-node tree-node-content angular-ui-tree-handle"
                    ng-click="openPartsOfSubject(subject)">
                    <a class="btn btn-xs" ng-if="subject.childSubs && subject.childSubs.length > 0"  data-nodrag="" ng-click="toggle(this)"><span class="glyphicon glyphicon-chevron-right" ng-class="{
                      'glyphicon-chevron-right': collapsed,
                      'glyphicon-chevron-down': !collapsed
                    }"></span>
                    </a>
                    {{subject.subName}}
                    <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="deleteSubject(subject.id)"><span class="glyphicon glyphicon-remove"></span></a>
                    <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="editSubject(subject.id)"><span class="glyphicon glyphicon-edit"></span></a>
                    <a class="pull-right btn btn-success btn-xs" data-nodrag ng-click="addSubject(subject.id)"><span class="glyphicon glyphicon-plus"></span></a>
                  </div>
                  <ol ui-tree-nodes ng-model="subject.childSubs" ng-class="{hidden: collapsed}" class="ng-pristine ng-untouched ng-valid angular-ui-tree-nodes">
                    <li ng-repeat="firstLevelSubject in subject.childSubs" ui-tree-node class="angular-ui-tree-node" collapsed="true" expand-on-hover="false">
                      <div ui-tree-handle class="tree-node tree-node-content angular-ui-tree-handle"
                        ng-click="openPartsOfSubject(firstLevelSubject)">
                        <a class="btn btn-xs" ng-if="firstLevelSubject.childSubs && firstLevelSubject.childSubs.length > 0"  data-nodrag="" ng-click="toggle(this)"><span class="glyphicon glyphicon-chevron-right" ng-class="{
                          'glyphicon-chevron-right': collapsed,
                          'glyphicon-chevron-down': !collapsed
                        }"></span>
                        </a>
                        {{firstLevelSubject.subName}}
                        <a class="pull-right btn btn-danger btn-xs" data-nodrag="" ng-click="deleteSubject(firstLevelSubject.id)"><span class="glyphicon glyphicon-remove"></span></a>
                        <a class="pull-right btn btn-primary btn-xs" data-nodrag="" ng-click="editSubject(firstLevelSubject.id)" ><span class="glyphicon glyphicon-edit"></span></a>
                        <a class="pull-right btn btn-success btn-xs" data-nodrag ng-click="addSubject(firstLevelSubject.id)"><span class="glyphicon glyphicon-plus"></span></a>
                      </div>
                      <ol ui-tree-nodes ng-model="firstLevelSubject.childSubs" ng-class="{hidden: collapsed}" class="ng-pristine ng-untouched ng-valid angular-ui-tree-nodes">
                        <li ng-repeat="secondLevelSubject in firstLevelSubject.childSubs" ui-tree-node >
                          <div ui-tree-handle ng-click="openPartsOfSubject(secondLevelSubject)">
                            {{secondLevelSubject.subName}}
                            <a class="pull-right btn btn-danger btn-xs" data-nodrag="" ng-click="deleteSubject(secondLevelSubject.id)"><span class="glyphicon glyphicon-remove"></span></a>
                            <a class="pull-right btn btn-primary btn-xs" data-nodrag="" ng-click="editSubject(secondLevelSubject.id)"><span class="glyphicon glyphicon-edit"></span></a>

                          </div>
                        </li>
                      </ol>
                    </li>
                  </ol>
                </li>
              </ol>
            </div>
        </article>
      </figure>
    </div>

    <div class="col-md-6" ng-if="subjectPartBox.showParts">
      <figure class="box box-info collapsed-box">
        <div class="box-header">
          <i class="fa fa-suitcase"></i>
          <h3 class="box-title" ng-bind="subjectPartBox.partBoxTitle"></h3>
        </div>
        
        <button class="btn btn-default" role="button" ng-click="addPart()">Add New Part</button>
        <center ng-if="subjectPartBox.parts.length == 0">Chưa có dữ liệu</center>
        <table id="part-table" datatable="ng" dt-options="dtOptions" class="table table-bordered table-striped table-hover" ng-if="subjectPartBox.parts.length > 0">
          <thead>
            <tr>
              <th class="col-sm-1">#</th>
              <th class="col-sm-2">Id</th>
              <th>Name</th>
              <th class="col-sm-2">Level</th>
              <th class="col-sm-3"></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="part in subjectPartBox.parts">
              <td class="col-sm-1" ng-bind="$index + 1"></td>
              <td class="col-sm-2" ng-bind="part.parId"></td>
              <td ng-bind="part.parName"></td>
              <td class="col-sm-2" ng-bind="part.parDefault_level"></td>
              <td class="col-sm-3">
                <a class="pull-right btn btn-danger btn-xs" ng-click="deletePart(part.id);">
                  <span class="glyphicon glyphicon-remove"></span>
                </a>
                <a class="pull-right btn btn-primary btn-xs">
                  <span class="glyphicon glyphicon-edit"></span>
                </a>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th class="col-sm-1">#</th>
              <th class="col-sm-2">Id</th>
              <th>Name</th>
              <th class="col-sm-2">Level</th>
              <th class="col-sm-3"></th>
            </tr>
          </tfoot>
        </table>
      </figure>
    </div>   
  </div>
</section>
