<ng-include src="'includes/content-header.html'"></ng-include>
<section class="content">
  <div class="row">
    <div class="col-xs-12">
        <table id="subjects-table" datatable="ng" dt-options="dtOptions" class="table table-bordered table-striped table-hover">
            <thead>
              <tr>
                <th>Order</th>
                <th>Name</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="subject in subjects">
                <td>{{$index + 1}}</td>
                <td>
                  <span ng-if="subject.level === 2">--</span>
                  {{subject.subname}}
                </td>
                <td>
                  <a class="btn"><i class="fa fa-wrench"></i></a>
                  <a class="btn"><i class="fa fa-trash"></i></a>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td>Order</td>
                <td>Name</td>
                <td></td>
              </tr>
            </tfoot>
        </table>
    </div>
  </div>

</section>
