<ng-include src="'includes/content-header.html'"></ng-include>
<section class="content">
	<div class="row">
		<div class="col-xs-12">
			<form class="form-horizontal">
			  <div class="form-group">
			    <label class="control-label col-sm-2" for="userId">UserID:</label>
			    <div class="col-sm-6">
			      <input type="email" class="form-control" id="email" placeholder="Enter email">
			    </div>
			  </div>

			  <div class="form-group">
			    <label class="control-label col-sm-2" for="pwd">User Password:</label>
			    <div class="col-sm-6"> 
			      <input type="password" class="form-control" id="pwd" placeholder="Enter password">
			    </div>
			  </div>

			  <div class="form-group">
			    <label class="control-label col-sm-2" for="pwd">First Name:</label>
			    <div class="col-sm-6"> 
			      <input type="password" class="form-control" id="pwd" placeholder="Enter Firstname">
			    </div>
			  </div>

			  <div class="form-group">
			    <label class="control-label col-sm-2" for="pwd">Last Name:</label>
			    <div class="col-sm-6"> 
			      <input type="password" class="form-control" id="pwd" placeholder="Enter Lastname">
			    </div>
			  </div>

			  <div class="form-group">
			    <label class="control-label col-sm-2" for="pwd">Date Of Birth:</label>
			    <div class="col-sm-2"> 
			      	<div class="input-group date" data-provide="datepicker">
					    <input type="text" class="form-control">
					    <div class="input-group-addon">
					        <span class="glyphicon glyphicon-th"></span>
					    </div>
					</div>
			    </div>
			  </div>

			  <div class="form-group">
			    <label class="control-label col-sm-2" for="pwd">Gender:</label>
			    	<div class="dropdown col-sm-6">
					    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Choose
					    <span class="caret"></span></button>
					    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
					      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Male</a></li>
					      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Female</a></li>
					      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Other</a></li>
					    </ul>
					</div>
			  </div>

			  <div class="form-group">
			    <label class="control-label col-sm-2" for="pwd">Email:</label>
			    <div class="col-sm-6"> 
			      <input type="password" class="form-control" id="pwd" placeholder="Enter Email">
			    </div>
			  </div>

			  <div class="form-group">
			    <label class="control-label col-sm-2" for="pwd">Phone:</label>
			    <div class="col-sm-6"> 
			      <input type="password" class="form-control" id="pwd" placeholder="Enter Phonenumber">
			    </div>
			  </div>

			  <div class="form-group"> 
			    <div class="col-sm-offset-2 col-sm-10">
			      <button type="submit" class="btn btn-default">Submit</button>
			    </div>
			  </div>
			</form>
		</div>
	</div>
</section>