<section class="content-header">
      <h1>
       	Edit User
      </h1>
      <ol class="breadcrumb">
        <li><a href="#!"><i class="fa fa-dashboard"></i> Admin</a></li>
        <li><a href="#!/users">User</a></li>
        <li class="active">Edit User</li>
      </ol>
</section>

<section class="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-header with-border form-group">
				</div>
				<div class="box-body">
				<form class="form-horizontal">
						  <div class="form-group">
						    <label class="control-label col-sm-2" for="userId">UserID:</label>
						    <div class="col-sm-6">
						      <input type="text" class="form-control" id="email" placeholder="Enter email" ng-model="User.id">
						    </div>
						  </div>

						  <div class="form-group">
						    <label class="control-label col-sm-2" for="pwd">User Password:</label>
						    <div class="col-sm-6"> 
						      <input type="text" class="form-control" id="pwd" placeholder="Enter password" ng-model="User.userEncPassword">
						    </div>
						  </div>

						  <div class="form-group">
						    <label class="control-label col-sm-2" for="pwd">First Name:</label>
						    <div class="col-sm-6"> 
						      <input type="text" class="form-control" id="pwd" placeholder="Enter Firstname" ng-model="User.userFirstName">
						    </div>
						  </div>

						  <div class="form-group">
						    <label class="control-label col-sm-2" for="pwd">Last Name:</label>
						    <div class="col-sm-6"> 
						      <input type="text" class="form-control" id="pwd" placeholder="Enter Lastname" ng-model="User.userLastName">
						    </div>
						  </div>

						  <!--<div class="form-group">
						    <label class="control-label col-sm-2" for="pwd">Date Of Birth:</label>
						    <div class="col-sm-2"> 
						      	<div class="input-group date">
								    <input type="date" class="form-control" ng-model="User.userDOB">							    
								</div>
						    </div>
						  </div>-->
						 
						  
						  <div class="form-group">
						    <label class="control-label col-sm-2" for="pwd">Date Of Birth:</label>
						    <div class="col-sm-2"> 
						      	<div class="input-group date" data-provide="datepicker">
								    <input type="text" class="form-control" ng-model="User.userDOB|date">
								    <div class="input-group-addon">
								        <span class="glyphicon glyphicon-th"></span>
								    </div>
								</div>
						    </div>
						  </div>

						  <div class="form-group">
						    <label class="control-label col-sm-2" for="pwd">Gender:</label>&nbsp;
						    <label class="radio-inline"><input type="radio" name="sex" value="true" ng-model="User.userGender">Male</label>
						    <label class="radio-inline"><input type="radio" name="sex" value="false" ng-model="User.userGender">Female</label>
						  </div>

						  
						   <div class="form-group">
						    <label class="control-label col-sm-2" for="pwd">Email:</label>
						    <div class="col-sm-6"> 
						      <input type="text" class="form-control" id="pwd" placeholder="Enter Email" ng-model="User.userEmail">
						    </div>
						  </div>

						  <div class="form-group">
						    <label class="control-label col-sm-2" for="pwd">Phone:</label>
						    <div class="col-sm-6"> 
						      <input type="text" class="form-control" id="pwd" placeholder="Enter Phonenumber" ng-model="User.userPhone">
						    </div>
						  </div>

						  <div class="form-group"> 
						    <div class="col-sm-offset-2 col-sm-10">
						      <button type="submit" class="btn btn-default" ng-click="update(User.id,User)">Submit</button>
						    </div>
						  </div>
				</form>
				</div>
				
			</div>
		</div>
	</div>
</section>