<ng-include src="'includes/content-header.html'"></ng-include>
<section class="content">
	<div class="row">
		<div class="col-xs-12">
	    <table id="user-table" datatable="ng" dt-options="dtOptions" class="table table-hover table-striped text-center">
				<thead>
					<tr>
						<th>UserID</th>
						<th>FirstName</th>
						<th>LastName</th>
						<th>DOB</th>
						<th>Gender</th>
						<th>Email</th>
						<th>Phone</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="x in Users">
						<td><span ng-bind="x.id"></span></td>
						<td><span ng-bind="x.userFirstName"></span></td>
						<td><span ng-bind="x.userLastName"></span></td>
						<td><span ng-bind="x.userDOB|date"></span></td>
						<td><span ng-bind="x.userGender"></span></td>
						<td><span ng-bind="x.userEmail"></span></td>
						<td><span ng-bind="x.userPhone"></span></td>
						<td>
		                  <a class="btn" href="#!/user/edit/{{x.id}}"><i class="fa fa-wrench"></i></a>
		                  <a class="btn" ng-click='delete(x.id)'><i class="fa fa-trash"></i></a>
		                </td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td>UserID</td>
						<td>FirstName</td>
						<td>LastName</td>
						<td>DOB</td>
						<td>Gender</td>
						<td>Email</td>
						<td>Phone</td>
						<td></td>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
</section>
