<section class="content-header">
	<div class="row">
		<div class="col-xs-2">
	     	<h1>User Manager</h1>
	    </div>
	    <div class="col-xs-2">
	    	<button href="#!/user/add" type="button" class="btn btn-primary btn-lg">Add User</button>
	    </div>
      	<div class="col-xs-3 col-xs-offset-5">
      		<ol class="breadcrumb">
		        <li><a href="#"><i class="fa fa-dashboard"></i> Admin</a></li>
		        <li><a href="#">User</a></li>
		        <li class="active">User Manager</li>
      		</ol>
      	</div>
      
    </div>
</section>
<section class="content">
	<div class="row">
	<div class="col-xs-12">
    	<div class="box">
    		<div class="box-header">
              <h3 class="box-title"></h3>

              <div class="box-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                  </div>
                </div>
              </div>
            </div>
    	</div>

    <div class="box-body table-responsive no-padding">

		<table class="table table-hover table-striped table-bordered">
			<thead>
				<th>UserID</th>
				<th>UserPassword</th>
				<th>FirstName</th>
				<th>LastName</th>
				<th>DOB</th>
				<th>Gender</th>
				<th>Email</th>
				<th>Phone</th>
				<th></th>
			</thead>
			<tbody>
				<tr ng-repeat="x in Users">
					<td><span ng-bind="x.ID"></span></td>
					<td><span ng-bind="x.password"></span></td>
					<td><span ng-bind="x.firstName"></span></td>
					<td><span ng-bind="x.lastName"></span></td>
					<td><span ng-bind="x.dob"></span></td>
					<td><span ng-bind="x.gender"></span></td>
					<td><span ng-bind="x.email"></span></td>
					<td><span ng-bind="x.phone"></span></td>
					<td><span><a href="#" class="fa fa-times" aria-hidden="true"> Delete </a> <a href="#!/user/edit" class="fa fa-pencil-square-o" aria-hidden="true"> Edit </a></span></td>
				</tr>
			</tbody>
		</table>
	</div>
	</div>
</div>

<div class="col-xs-6 col-xs-offset-5">
	<ul class="pagination">
	  <li><a href="#">1</a></li>
	  <li class="active"><a href="#">2</a></li>
	  <li><a href="#">3</a></li>
	  <li><a href="#">4</a></li>
	  <li><a href="#">5</a></li>
	</ul>
</div>
</section>


