<ng-include src="'includes/content-header.html'"></ng-include>
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <label>Question Type</label>
        </br>
        <label class="radio-inline">
          <input type="radio" name="singleOrPassage"
           value="" ng-model="singleOrPassage">
          Single Question
        </label>
        <label class="radio-inline">
          <input type="radio" name="singleOrPassage"
           ng-model="singleOrPassage" value="-passage">
          Passage Questions
        </label>
        </br>
        </br>
        <select class="form-control" id="question-type-selector" ng-model="answerType" ng-change="createQuestionByType()">
          <option value="default">Choose Question Type</option>
          <option value="multiple-choice">Multiple choice</option>
          <option value="true-false">True/False</option>
          <option ng-if="singleOrPassage!='p'" value="text">Text in the blank</option>
        </select>
        </br>
        </br>


        <select class="form-control" ng-controller = "QuestionController" id="select-part-forQ"  ng-model="selectPartforQ">
          <option value="{{x.id}}" ng-repeat="x in list">{{x.parName}}</option>       
       </select>
      </div>
      <div class="row" ng-if="answerTypeFileName">
        <div class="col-xs-12" style="margin-top:15px;">
          <div ng-include="answerTypeUrl"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  $(function(){
    //Initialize Select2 Elements
    $("#question-type-selector").select2();
    $("#select-part-forQ").select2();
  });
</script>

