<ng-include src="'includes/content-header.html'"></ng-include>
<section class="content">
  <div class="row">
    <div class="col-xs-12">
        <table id="questions-table" datatable="ng" dt-options="dtOptions" class="table table-bordered table-striped table-hover">
          <thead>
            <tr>
              <th>No.</th>
              <th>Content</th>
              <th>Level</th>
              <th>Type</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr data-ng-repeat="question in questions">
              <td data-ng-bind="($index+1)"></td>
              <td><a href="#!/question/get/{{question.id}}" data-ng-bind="question.queContent"></a></td>
              <td data-ng-bind="question.queLevel"></td>
              <td data-ng-bind="question.answerType.anstName"></td>
              <td>
                <a class="btn"><i class="fa fa-wrench"></i></a>
                <a class="btn" ng-click="removeQuestion(question.id);"><i class="fa fa-trash"></i></a>
              </td>
            </tr>
          </tbody>
          <tfoot>
              <tr>
                <td>No.</td>
                <td>Content</td>
                <td>Level</td>
                <td>Type</td>
                <td></td>
              </tr>
          </tfoot>
        </table>
    </div>
  </div>

</section>
