html,body,.wrapper{
	height:100% !important;
}
body{
	margin:0;
}
.content-header h1, .content-header .breadcrumb{
	text-transform: capitalize!important;
}
table{
	border: 1px solid #e5e5e5!important;
}
table thead, table tfoot{
	background: white;
}
table td:last-child{
	width: 10%;
	text-align: center;
}
table tfoot td{
	font-weight: bold;
}
.table-striped > tbody > tr:nth-child(2n) > td{
   background-color: white;
}
.content-header>h1>small>a.btn,.content-header>h1>small>button.btn{
  margin-top:-10px;
}
#add-subject{
	width: 100%;
	border: none!important;
}
#add-subject td{
	padding: 5px;
}
#add-subject td:first-child{
	width: 30%;
}
#add-subject td:last-child{
	width: 70%;
}
textarea.not-resizable{
  resize:none;
}
input[type="search"]{
	border: 1px solid #ddd;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
    background-color: #fff;
}
#select {
	margin-top: 10px;
}
#choice span.input-group-addon{
  text-align: center;
  min-width:45px;
}

.alertify{
	z-index:1000;
}
.alertify .dialog p.msg{
	text-align: center;
	font-size:18px;
}
.alertify .dialog .error{
	color:black;
}
.alertify .dialog nav{
	text-align: center;
}
.alertify .dialog .error nav button.ok{
	border-color: #e74c3c !important;
	color:black !important;
}
.message.error,.alertify .dialog .error nav button.ok:hover{
	background:#e74c3c !important;
	color:white !important;
}
.alertify .dialog .error .header{
	color:white;
	background:#e74c3c;
	margin:-12px -12px 12px -12px;
	height:90px;
	width:calc(100% + 24px);
	font-size:60px;
}
.alertify-logs .error{
	background:#e74c3c;
	font-size:18px;
	padding:15px;
}
.message{
	height:30px;
	width:100%;
	margin:5px 0;
}
