<section class="content-header">
  <h1>Parts<small><a class="btn btn-default" href="#!/addpart">Add part</a></small></h1>
  <ol class="breadcrumb">
    <li><a><i class="fa fa-suitcase"></i>Parts</a></li>
  </ol>
</section>
<section class="content">
      <div class="row">
        <div class="col-xs-12">

          <!-- /.box -->

          <div class="box">
            <div class="box-header with-border form-group">
              <div class="col-md-4">
              	<h3 class="box-title input-group">
              		Parts List
              	</h3>
              	
              </div>
              <div class="input-group pull-right col-md-4 col-md-offset-4">
      			    <input id="email" type="text" class="form-control" name="email" placeholder="Search">
      			    <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
      			  </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table class="table table-bordered text-center table-hover" >
                <tr>
                  <tr>
  		              <th>#</th>
  		              <th>PARID</th>
  		              <th>PARDIRECTION</th>
  		              <th>PARDEFAULT_SCORE</th>
  		              <th>PARDEFAULT_COLUMN</th>
  		              <th>PARDEFAULT_LEVEL</th>
  		              <th>PARORDER</th>
  		              <th>PARNOTE</th>
  		              <th class="admin-option">Options</th>
                	</tr>
                </tr>
                <tr>
                  <tr ng-repeat="x in list">
                		<td ng-bind="x.PAR_ID"></td>
                		<td ng-bind="x.PARID"></td>
                		<td ng-bind="x.PARDIRECTION"></td>
                		<td ng-bind="x.PARDEFAULT_SCORE"></td>
                		<td ng-bind="x.PARDEFAULT_COLUMN"></td>
                		<td ng-bind="x.PARDEFAULT_LEVEL"></td>
                		<td ng-bind="x.PARORDER"></td>
                		<td ng-bind="x.PARNOTE"></td>
                		<td>
                  		<a class="btn btn-app" href="#!/updateParts">
  		                	<i class="fa fa-wrench"></i> Update
  		              	</a>
  		              	<a class="btn btn-app" ng-click='Delete(x.PARID)'>
  		                	<i class="fa fa-trash"></i> Delete
  		              	</a>
                    </td>
                </tr>

              </table>
            </div>
            <!-- /.box-body -->

              <ul class="pagination" style="margin-left: 40%">
              	  <li><a href=""><<</a></li>
        				  <li class="disabled"><a href="">1</a></li>
        				  <li><a href="">2</a></li>
        				  <li><a href="">3</a></li>
        				  <li><a href="">4</a></li>
        				  <li><a href="">5</a></li>
        				  <li><a href="">>></a></li>
        			</ul>
          </div>

         </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
</section>
