<section class="content-header">
  <h1>Update Parts</h1>
  <ol class="breadcrumb">
    
  </ol>
</section>
<section class="content">
	<form class="form-horizontal">
	
	  	<div class="form-group">
	    	<label class="col-sm-2 col-sm-offset-2 control-label">PARID</label>
	    	<div class="col-sm-6">
	      		<input class="form-control" type="text">
	    	</div>
	  	</div>
		  <div class="form-group">
		    <label class="col-sm-2 col-sm-offset-2 control-label">PARDIRECTION</label>
		    <div class="col-sm-6">
		      <input class="form-control" type="text">
		    </div>
		
		  </div>
		  <div class="form-group">
		    <label class="col-sm-2 col-sm-offset-2 control-label">PARDEFAULT_SCORE</label>
		    <div class="col-sm-6">
		      <input class="form-control" type="text">
		    </div>
		  </div>
		
		  <div class="form-group">
		    <label class="col-sm-2 col-sm-offset-2 control-label">PARDEFAULT_COLUMN</label>
		    <div class="col-sm-6">
		      <input class="form-control" type="text">
		    </div>
		  </div>
		 
		  <div class="form-group">
		    <label class="col-sm-2 col-sm-offset-2 control-label">PARDEFAULT_LEVEL</label>
		    <div class="col-sm-6">
		      <input class="form-control" type="text">
		    </div>
		
		  </div>
		  <div class="form-group">
		    <label class="col-sm-2 col-sm-offset-2 control-label">PARORDER</label>
		    <div class="col-sm-6">
		      <input class="form-control" type="text">
		    </div>
		  </div>
		 
		  <div class="form-group">
		    <label class="col-sm-2 col-sm-offset-2 control-label">PARNOTE</label>
		    <div class="col-sm-6">
		      <input class="form-control" type="text">
		    </div>
		  </div>

			<div class="form-group" style="margin-right: 5px;">
				<input type="button" class="btn btn-info col-sm-offset-8 col-sm-1" name="" value="Update">
				<input type="button" class="btn btn-warning col-sm-1" name="" value="Cancel">
			</div>
	</form>
</section>