.content-header>h1>small>a.btn,.content-header>h1>small>button.btn{
  margin-top:-10px;
}
table th.admin-option,table td.admin-option{
  width:13%;
}
textarea.not-resizable{
  resize:none;
}
@media screen and (min-width: 1024px){
	table th.admin-option, table td.admin-option{
		width:20%;
	}
}