<div class="container-fluid">
	<section class="content-header">
      <h1>
        Add Questions For "Test - Test"
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="/questions">Questions</a></li>
        <li class="active">Multiple Choice</li>
      </ol>
    </section>
    <!--main content-->
	<section class="content">
		  <div class="row">
			    <div class="col-md-12">
				      <div class="box box-info">
					        <div class="box-header">
						          <h3 class="box-title">Content Of Questions
						            <small></small>
						          </h3>
						          <!-- tools box -->
						          <div class="pull-right box-tools">
						            <button type="button" class="btn btn-info btn-sm" data-widget="collapse" data-toggle="tooltip" title="Collapse">
						              <i class="fa fa-minus"></i></button>
						            <button type="button" class="btn btn-info btn-sm" data-widget="remove" data-toggle="tooltip" title="Remove">
						              <i class="fa fa-times"></i></button>
						          </div>
						          <!-- /. tools -->
					        </div>
					        <!-- /.box-header -->
					        <div class="box-body pad">
						          <form>
										<textarea name="mtpcEditor" id="mtpcEditor" rows="10" cols="80">
							                This is my textarea to be replaced with CKEditor.
							            </textarea>						            
						          </form>
						          <script>

								    // This call can be placed at any point after the
								    // <textarea>, or inside a <head><script> in a
								    // window.onload event handler.

								    // Replace the <textarea id="editor"> with an CKEditor
								    // instance, using default configurations.

								    CKEDITOR.replace( 'mtpcEditor' );

								  </script>
						          <div class="col-md-12">
						          	<div class="col-md-6">
						          	  	<div class="col-md-6">
						          	  		<div class="col-md-6">
						          	  			<button class="btn btn-default margin">
								 		  			<i class="fa fa-fw fa-cloud-upload"></i> Images
								 		  		</button>
						          	  		</div>
						          	  		<div class="col-md-6">
						          	  			<button class="btn btn-default margin">
								 		  			<i class="glyphicon glyphicon-eye-open"></i> Images
								 		  		</button>
						          	  		</div>
						          	  	</div>
								 	</div>
						          </div>
					          	  <div class="col-md-12">
					          	  	<div class="col-md-6">
								 	  	<div class="col-md-6">
								 	  		<div class="col-md-6">
								 	  			<button id="addChoice" class="btn btn-default bg-olive margin" ng-click="addChoice()">
								 		  			<i class="fa fa-fw fa-plus-square"></i> Choice
								 		  		</button>
								 	  		</div>
								 	  		<div class="col-md-6">
								 	  			<button class="btn btn-default bg-olive margin" ng-click="removeChoice()">
								 	  				<i class="fa fa-fw fa-times-circle"></i> Choice
								 	  			</button>
								 	  		</div>
								 	  	</div>
								 		<div id="select" class="col-md-6">
								 	  		<div class="col-md-7" style="padding-top: 10px; padding-right: 0px">
								 	  			<label>Column of choice: </label>
								 	  		</div>
									 	  	<div class="col-md-5">
									 	  		<select class="form-control">
								                    <option>1</option>
								                    <option>2</option>
								                    <option>3</option>
								                    <option>4</option>
							                	</select>
									 	  	</div>
								 	  	</div>
								 	</div>
								 	<div class="col-md-6" style="padding-top: 15px;">
								 		<div class="col-md-5" style="padding-right: 0px;">
								 				<label>Score: </label>
								 				<input type="number" name="score" placeholder="Score" width="100px">
								 		</div>
								 		<div class="col-md-3">
								 			<div class="form-group">
								                <label>
								                  <input type="checkbox" class="flat-red" checked>
								                   Is Bank
								                </label>
								              </div>
								 		</div>
								 		<div class="col-md-4">
								 			<label>
							                  <input type="checkbox" class="flat-red">
							                  Shuffle Choices
							                </label>
								 		</div>
								 	</div>
					          	 </div>
					          	 <div class="col-md-12">
					          	 	<div class="col-md-12">
					          	 			<label>Reference : </label>
						          	 		<input type="text" name="reference" id="reference" class="form-control">
					          	 	</div>
					          	 	<div class="col-md-12">
					          	 		<div class="col-md-3">
						          	 		<label>Choices</label>
						          	 	</div>
						          	 	<div class="col-md-9">
						          	 		<div id="choice">
					          	 				<div class="input-group">
							                        <span class="input-group-addon">
							                          <input type="checkbox">
							                        </span>
						                         	<span class="input-group-addon">
						                         		<label>A.</label>
						                        	</span>
							                    	<input type="text" class="form-control">
						          	 			</div>
						          	 		</div>
					          	 		</div>
					          	 	</div>
					          	 </div>
					        </div>
				      </div>
			    </div>
		 </div>
	</section>
</div>
<script>
	$(function () {
	    //Flat red color scheme for iCheck
	    $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
	      checkboxClass: 'icheckbox_flat-green',
	      radioClass: 'iradio_flat-green'
	    });

	});
</script>

